.inputLabel {
    -fx-font-size: 16px;
    -fx-font-family: "Times New Roman";
}
.saveButton {
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #329D9C 0%, rgba(70, 252, 225, 1) 100%),
    #56C596,
    #BCE6FF,
    radial-gradient(center 50% 50%, radius 100%, #98BBC4, rgba(70, 252, 225, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-text-fill: black;
}

/*PRESERVED*/

/*.inputLabel2{*/
/*    -fx-border-color: transparent transparent red transparent;*/
/*    -fx-border-width: 3px;*/
/*}*/
/*.inputLabel2:focused{*/
/*    -fx-content-display: top;*/
/*    -fx-border-insets: 2 0 0 0;*/
/*    -fx-border-color: -fx-text-box-border;*/
/*    -fx-border-width: 2;*/
/*}*/
