.panel {
    -fx-background-color: linear-gradient(to right,
    #6495ED 0%,
    #56c596 25%,
    #6495ED 100%);

}

.listview1 {
    -fx-background-color: #090a0c,
    linear-gradient(rgb(86, 197, 150), rgb(207, 244, 210)),
    radial-gradient(center 50% 0%, radius 100%, rgb(86, 197, 150), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.homeButton {
    -fx-background-color: #090a0c,
    linear-gradient(#4a707a 0%, #56C596 20%, #015c92 100%),
    linear-gradient(#88cdf6, #56c596);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.homeButton:hover {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #329D9C 0%, rgba(70, 252, 225, 1) 100%),
    #56C596,
    #BCE6FF,
    radial-gradient(center 50% 50%, radius 100%, #88CDF6, #329D9C);
    -fx-effect: dropshadow(gaussian, #329D9C, 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
}

.displayInfoButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #56C596 0%, rgba(70, 252, 225, 1) 100%),
    #56C596,
    #BCE6FF,
    radial-gradient(center 50% 50%, radius 100%, #98BBC4, rgba(70, 252, 225, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
}

.displayInfoButton:hover {
    -fx-text-fill: #f18214;
}

.diagnosisButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #329D9C 0%, rgba(70, 252, 225, 1) 100%),
    #56C596,
    #BCE6FF,
    radial-gradient(center 50% 50%, radius 100%, #98BBC4, rgba(70, 252, 225, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
}

.diagnosisButton:hover {
    -fx-text-fill: #ff0000;
}

.questionsButton {

}

.questionsButton:hover {

}