.start {
    /*-fx-background-image: url("https://i.ibb.co/JcRwWrx/bg.jpg");*/
}
.loginButton{
    -fx-background-color: #ffffff;
}
.loginButton:hover {
    -fx-background-color: #7393B3;
}
.registerButton{
    -fx-background-color: #ffffff;
    -fx-border-color: none;
    -fx-cursor: pointer;
}
.registerButton:hover {
    -fx-background-color: #6cef0f;
}
.infoButton{
    -fx-background-color: #ffffff;
    -fx-border-color: none;
    -fx-cursor: pointer;
}
.infoButton:hover {
    -fx-background-color: #f18214;
}
.exitButton{
    -fx-background-color: #ffffff;
    -fx-border-color: none;
    -fx-cursor: pointer;
}
.exitButton:hover {
    -fx-background-color: #ff0000;
}


