.start {

}

.loginButton {

}

.loginButton:hover {
    -fx-text-fill: #000000;
    -fx-cursor: hand;

}

.registerButton {

}

.registerButton:hover {
    -fx-text-fill: #6cef0f;
    -fx-cursor: hand;

}

.infoButton {

}

.infoButton:hover {
    -fx-text-fill: #f18214;
    -fx-cursor: hand;
}

.exitButton {

}

.exitButton:hover {
    -fx-text-fill: #ff0000;
    -fx-cursor: hand;

}


