.start {

}

.loginButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, rgba(43, 88, 142, 1) 0%, rgba(70, 252, 225, 1) 100%),
    rgba(43, 88, 142, 1),
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, rgba(43, 88, 142, 1), rgba(70, 252, 225, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.loginButton:hover {
    -fx-text-fill: #000000;
}

.registerButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, rgba(43, 88, 142, 1) 0%, rgba(70, 252, 225, 1) 100%),
    rgba(43, 88, 142, 1),
    radial-gradient(center 50% 50%, radius 100%, rgba(43, 88, 142, 1), rgba(70, 252, 225, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.registerButton:hover {
    -fx-text-fill: #6cef0f;
}

.infoButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, rgba(43, 88, 142, 1) 0%, rgba(70, 252, 225, 1) 100%),
    rgba(43, 88, 142, 1),
    radial-gradient(center 50% 50%, radius 100%, rgba(43, 88, 142, 1), rgba(70, 252, 225, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.infoButton:hover {
    -fx-text-fill: #f18214;
}

.exitButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, rgba(43, 88, 142, 1) 0%, rgba(70, 252, 225, 1) 100%),
    rgba(43, 88, 142, 1),
    radial-gradient(center 50% 50%, radius 100%, rgba(43, 88, 142, 1), rgba(70, 252, 225, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.exitButton:hover {
    -fx-text-fill: #ff0000;
}


