.registerScreen {
    -fx-background-radius: 6;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-color: transparent;
}

.registerButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #329D9C 0%, rgba(70, 252, 225, 1) 100%),
    #56C596,
    #BCE6FF,
    #7cbacb;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-text-fill: black;
}

.registerButton:hover {
    -fx-text-fill: #6cef0f;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 4, 0, 0, 1);
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 3, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
}

.returnButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #329D9C 0%, rgba(70, 252, 225, 1) 100%),
    #56C596,
    #BCE6FF,
    #7cbacb;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-text-fill: black;

}

.returnButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 4, 0, 0, 1);
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 3, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-text-fill: #ff0000;
}